name: inception

services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - mariadb:/var/lib/mysql
    networks:
      - inception_network

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/vicperri-vm/data/wordpress
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/vicperri-vm/data/mariadb


networks:
  inception_network:
    driver: bridge
